# Eclipse
/.classpath
/.project
/.settings
/.git
.jardesc

# Netbeans
/nbproject

# Various other potential build files
/build
/bin
/dist
/manifest.mf
/macros

# Classes
*.class

#Etc
*.gods
*.config
config.yml
/SATools_JAR.jardesc
